.sidebar {
    visibility: visible;
    width: 200px;
    background-color: #333;
    color: #fff;
    
    
  }

  .openSidebar
  {
    transition: all 0.5s ease-in-out;
  }

  .closedSidebar {
    transition: all 0.5s ease-in-out;
    width: 0px;
   
   
  
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .sub-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sub-menu li {
    padding: 8px;
    background-color: #555;
    cursor: pointer;
  }
  